.Application-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  padding: 1.5em 1em;
}
@media screen and (max-width: 25rem) {
  .Application-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 45rem) {
  .Application-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/* @media screen and (max-width: 65rem) {
  .Application-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
} */

.Linechart-p {
  text-align: center;
}
