.ReadOnlyRow-button {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.EditIncome-button button,
.EditExpenses-button button {
  margin-left: 0.625em;
}
.EditIncome-button button,
.EditExpenses-button button,
.ReadOnlyRow-button button {
  padding: 0.5em 1.5em;
}
