.Registration-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.Registration-body {
  max-width: 80%;
  display: grid;
  margin: 3em 3em;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
  border: 1px solid black;
  border-radius: 7px;
  background-color: var(--backGround-color-100);
}

.Registration-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.Registration-form-btn {
  padding: 0.5em 0;
}

.Registration-form > * {
  width: 15rem;
}
