.Form-body {
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 1em;
}

.Form-body-form {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Form-btn {
  padding: 0.5em 6em;
  align-self: center;
}
