.Form-body {
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 1em;
}

.Form-body-form {
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Form-btn {
  max-width: 2rem;
  align-self: center;
}

.error {
  color: var(--text-color-300);
  font-size: 0.8rem;
}

label {
  color: var(--text-color-100);
  font-size: 0.9rem;
}

::placeholder {
  color: black;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.Form-btn {
  font-size: 1.3rem;
}
