.Nav-container {
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.15);
  height: auto;
}

.Nav-links {
  background-color: var(--backGround-color-100);
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 1em 0;
}

.Nav-links li {
  list-style: none;
  padding: 0.5em;
}

.Nav-links :nth-child(1) {
  color: var(--color-1000);
  text-decoration: none;
}

.Nav-links li:hover {
  background-color: var(--Neutral-color-100);
  border-radius: 6px;
}
