.Table-tbody {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Table-row {
  display: flex;
  gap: 10px;
  padding-left: 1.2em;
}

.Table-btn {
  display: flex;
  gap: 5px;
}

.Table-btn {
  font-size: 1rem;
}
