.History-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width:90%;
  justify-content: center;
}

.History-body {
  border: 1px solid var(--backGround-color-400);
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  
}


.History-body tr {
  background-color: var(--backGround-color-100);
  border: 1px solid var(--backGround-color-400);
  padding: 0.35em;
  
}

.History-body th,
td {
  padding: 0.525em;
  text-align: center;
}

.History-body th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .History-body {
    border: 0;
  }
}

.table-income {
  color: rgb(49, 226, 43);
}

.table-expense {
  color: red;
}


