@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
* ::after,
* ::before {
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

:root {
  /* Colors */
  /* Text */
  --text-color-300: #eb2f2f;
  --text-color-100: #838383;
  /* Background */
  --backGround-color-100: #f8fafc;
  /* Neutral */
  --color-1000: black;
  --Neutral-color-100: white;
  /* Typography */
  --mainFont: "Roboto", sans-serif;
}

.Form-container,
.IncomePieChart-container,
.ExpensePieChart-container {
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--backGround-color-100);
}

button {
  cursor: pointer;
  background-color: var(--backGround-color-100);
}

button,
input,
select {
  border: none;
}

input,
select {
  padding: 0.5em 1em;
  border-radius: 7px;
}

.ExpensePieChart-chart,
.IncomePieChart-chart {
  max-width: 100%;
  box-sizing: border-box;
}
