:root {
  --nav-backGround-color-100: #465e7a;
  --nav-text-color: #fefefe;
}

.Nav-container {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  height: auto;
  width: 100%;
}

@media screen and (max-width: 35rem) {
  .Nav-links,
  .Nav-links li button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.Nav-links,
.Nav-links li button {
  width: 100%;
  background-color: var(--nav-backGround-color-100);
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 1em 0;
}

.Nav-links li,
.Nav-links li button {
  list-style: none;
  padding: 0.5em;
}

.Nav-links li button,
.Nav-links :nth-child(1) {
  color: var(--nav-text-color);
  text-decoration: none;
}

.Nav-links li:hover,
.Nav-links li button:hover {
  /* background-color: var(--Neutral-color-100); */
  border-radius: 6px;
}

.logout-btn {
  padding: 0px !important;
  font-size: 16px !important;
}

.test {
  display: none;
}

#username {
  float: left;
}
