@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* ::after,
* ::before {
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

:root {
  /* Colors */
  /* Text */
  --text-color-300: #eb2f2f;
  --text-color-100: #838383;
  /* Background */
  --backGround-color-400: #cccccc;
  --backGround-color-300: #c6c8c9;
  --backGround-color-200: #dfe1e2;
  --backGround-color-100: #f8fafc;
  /* --backGround-color-100: #232323; */
  /* Neutral */
  --color-1000: black;
  --Neutral-color-100: white;

  --nav-text-color: #fefefe;

  /* Typography */
  --mainFont: "Roboto", sans-serif;
}

.Form-container,
.IncomePieChart-container,
.ExpensePieChart-container {
  border: 1px solid #afafaf;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--backGround-color-100);
}

button {
  border-radius: 7px;
  transition: 0.3s;
  cursor: pointer;
  background-color: var(--backGround-color-200);
}

button:hover {
  background-color: var(--backGround-color-300);
}

button,
input,
select {
  border: none;
}

input,
select {
  padding: 0.5em 1em;
  border-radius: 5px;
  width: 100%;
}

.error {
  color: var(--text-color-300);
  font-size: 0.8rem;
}

label {
  color: var(--color-1000);
  font-size: 0.9rem;
}

::placeholder {
  color: #465e7a;
}

input[type],
select[name] {
  box-sizing: border-box;
  border-bottom: 3px solid #465e7a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input[type="date"] {
  color: #465e7a;
}

select {
  color: #465e7a;
}

input[type]:focus,
select[name]:focus {
  border-bottom: 3px solid #2d3d54;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.ExpensePieChart-chart,
.IncomePieChart-chart {
  max-width: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

.pagination {
  padding: 1em 0;
  display: flex;
  justify-content: center;
}
